

@media (max-width:769px) {
    .toggle{
        margin-left: 490px;
        
       
        
    }
    .toggle1{
        font-size: 16px;
        font-weight: bold;
        color: #fcfcfc;
        text-decoration: none;
       
       
        
    }
    .toggle2{
        background-color: #f2993f;
        
    }
    
    
}



